.nbs-container {
    font-family: 'Roboto', serif;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.height75 {
    min-height: 75vh;
}

.title {
    font-family: 'Roboto', serif;
    font-size: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.body {
    font-family: 'Roboto', serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.labelText {
    font-family: 'Roboto', serif;
    font-size: 20px;
    text-align: center;
}

.nbs-button {
    border-radius: 5px;
    font-family: 'Roboto', serif;
    font-size: 20px;
    color: #ffffff;
    background: #d9345a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nbs-button-sm {
    border-radius: 5px;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #ffffff;
    background: #d9345a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.padded-chart {
    padding-top: 25px;
    text-align: center;
}

.padded-body {
    padding-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.prediction-container {
    width: 15%;
    min-width: 90px;
    padding: 10px 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
}

.alert-prediction {
    min-width: 120px;
}
#mainCanvas {
    z-index: 1;
}

#drawingCanvas {
    z-index: 2;
}
.stacked-parent {
    display: grid;
    align-items: center;
    justify-items: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.stacked-parent-vw-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

.stacked-child {
    grid-column: 1;
    grid-row: 1;
}

/*MIT License*/

/*Copyright (c) 2018 Epicmax LLC*/

/*                   Permission is hereby granted, free of charge, to any person obtaining a copy*/
/*of this software and associated documentation files (the "Software"), to deal*/
/*                                                                      in the Software without restriction, including without limitation the rights*/
/*to use, copy, modify, merge, publish, distribute, sublicense, and/or sell*/
/*                                                                  copies of the Software, and to permit persons to whom the Software is*/
/*furnished to do so, subject to the following conditions:*/

/*The above copyright notice and this permission notice shall be included in all*/
/*copies or substantial portions of the Software.*/

/*THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR*/
/*IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,*/
/*                                  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE*/
/*                                  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER*/
/*LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,*/
/*                                  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE*/
/*                                  SOFTWARE.*/

.semipolar-spinner, .semipolar-spinner * {
    box-sizing: border-box;
}

.semipolar-spinner {
    height: 130px;
    width: 130px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -65px;
}

.semipolar-spinner .ring {
    border-radius: 50%;
    position: absolute;
    border: calc(130px * 0.05) solid transparent;
    border-top-color: #d9345a;
    border-left-color: #d9345a;
    animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
    height: calc(130px - 130px * 0.2 * 0);
    width: calc(130px - 130px * 0.2 * 0);
    top: calc(130px * 0.1 * 0);
    left: calc(130px * 0.1 * 0);
    animation-delay: calc(2000ms * 0.1 * 4);
    z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
    height: calc(130px - 130px * 0.2 * 1);
    width: calc(130px - 130px * 0.2 * 1);
    top: calc(130px * 0.1 * 1);
    left: calc(130px * 0.1 * 1);
    animation-delay: calc(2000ms * 0.1 * 3);
    z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
    height: calc(130px - 130px * 0.2 * 2);
    width: calc(130px - 130px * 0.2 * 2);
    top: calc(130px * 0.1 * 2);
    left: calc(130px * 0.1 * 2);
    animation-delay: calc(2000ms * 0.1 * 2);
    z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
    height: calc(130px - 130px * 0.2 * 3);
    width: calc(130px - 130px * 0.2 * 3);
    top: calc(130px * 0.1 * 3);
    left: calc(130px * 0.1 * 3);
    animation-delay: calc(2000ms * 0.1 * 1);
    z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
    height: calc(130px - 130px * 0.2 * 4);
    width: calc(130px - 130px * 0.2 * 4);
    top: calc(130px * 0.1 * 4);
    left: calc(130px * 0.1 * 4);
    animation-delay: calc(2000ms * 0.1 * 0);
    z-index: 1;
}

@keyframes semipolar-spinner-animation {
    50% {
        transform: rotate(360deg) scale(0.7);
    }
}

.exo-font {
    font-family: 'Exo', serif;
}

.hidden-mobile-input {
    height: 2px;
    width: 2px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -1px;
    opacity: 0;
    z-index: -1;
}
