<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Document Capture</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo:wght@500;700&display=swap" >

</head>
<body>
<div class="full-page-parent" id="full-screen-load">
<div class="semipolar-spinner" :style="spinnerStyle">
    <div class="ring"></div>
    <div class="ring"></div>
    <div class="ring"></div>
    <div class="ring"></div>
    <div class="ring"></div>
</div>
</div>
<div class="pixel-spinner">
    <div class="pixel-spinner-inner"></div>
</div>
<div id="main-content-container" hidden>
<div class="nbs-container">
    <h1 class="title">LC Document Tool</h1>
    <p class="body">Click and drag a bounding box over the letter you are trying to capture. <br> Press a keyboard key after drawing the bounding box to label the box. <br> After labeling all letters on the page, use the save button to save. <a href="/help">Help Section</a></p>
</div>

<div class="nbs-container" align="center">
    <div style="display: inline-block"> <button class = "nbs-button" id = "close" type="button">Close</button> </div>
</div>

<div class="nbs-container" align="center">
    <div style="display: inline-block"> <button class = "nbs-button" id = "undo" type="button">Undo</button> </div>
    <div style="display: inline-block"> <button class = "nbs-button" id = "redo" type="button">Redo</button> </div>
</div>

<div class="nbs-container" align="center">
    <div style="display: inline-block"> <button class = "nbs-button" id = "letterCap" type="button">Letter Capture Mode</button> </div>
    <div style="display: inline-block"> <button class = "nbs-button" id = "wordCap" type="button">Word Capture Mode</button> </div>
    <div style="display: inline-block"> <button class = "nbs-button" id = "lineCap" type="button">Line Capture Mode</button> </div>
    <div style="display: inline-block"> <button class = "nbs-button" id = "eraser" type="button">Eraser</button> </div>
</div>
<div class="nbs-container">
    <p id="captureMode" class="body"> </p>
</div>
<span hidden id="imageId" th:text="${imageId}"></span>
<div class="nbs-container">
<div class = "nbs-container stacked-parent">
    <canvas id="mainCanvas" class="stacked-child"></canvas>
    <canvas id="drawingCanvas" class="stacked-child"></canvas>
</div>
</div>
<img id="renderedCrop" src="" hidden/>
<div class="prediction-container">
    <div class="alert alert-danger alert-prediction labelText" hidden>
        <canvas id="cropCanvas" class="nbs-container"></canvas>
        <div id="prediction">Prediction:</div>
    </div>
</div>
<div class="nbs-container" align="center">
    <input type="checkbox" id="completed" name="completed" value="Completed">
    <label for="completed">Mark As Completed</label><br>
</div>
<div class="nbs-container" align="center">
    <input type="checkbox" id="enableTransparency" name="enableTransparency">
    <label for="enableTransparency">Enable Rectangle Translucency</label><br>
</div>
<input type="text" class="hidden-mobile-input">
<div class="nbs-container" align="center">
    <input type="checkbox" id="enablePredictions" name="enablePredictions">
    <label for="enablePredictions">Enable Prediction & Autofill</label><br>
</div>
<div class="container w-25" align="center">
    <label for="fontSlider">Font Size</label>
    <input type="range" min="12" max="68" value="40" class="slider" id="fontSlider">
</div>
<div class="container w-25 padded-body">
    <label for="notes">Notes:</label>
    <textarea class="form-control text-entry" id="notes" rows="3"></textarea>
</div>
<div class="nbs-container">
    <p hidden id="saveText" class="body"> </p>
</div>
<button class = "nbs-button" id = "save" type="button">Save</button>
<button class = "nbs-button" id = "download" type="button">Download Job Info</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/hotkeys-js@3.7.3/dist/hotkeys.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.3.0/dist/tf.min.js"></script>
<script src="/js/canvas.js"></script>
</div>
</body>
</html>